# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Environment
.env
.env.*
venv/
.venv/

# IDEs
.vscode/
.idea/
*.code-workspace

# Certs + Logs
certs/
*.pfx
*.cer
*.pem
*.key
cert_log_*.log
cert_events.json

# Node/Frontend
node_modules/
dist/
build/

# Jupyter
*.ipynb_checkpoints

# Testing
htmlcov/
.coverage
coverage.xml
pytest_cache/
.tox/
